<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id = "app">
<!--    <span v-for="(value,key) in user">-->
<!--        {{key}}-{{value}}-->
<!--    </span>-->
<!--    <ul v-for="(city,index) in arr">-->
<!--        <li >{{index+1}}:{{city}}</li>-->
<!--    </ul>-->
    <ul v-for="(user) in users">
        <li>{{user.name}}-{{user.age}}</li>
    </ul>

</div>
<script src="js/vue.min.js"></script>
<script>
    new Vue({
        el:"#app",
        data:{
            user:{name:'小黑',age:18},
            arr:["四川","北京","天津"],
            users:[{name:'小白',age:18},{name:'小黑',age:18},{name:'小绿',age:18},]

        },
    })
</script>

</body>
</html>